.character__container {
    flex: 1;
}
.character__menu {
    padding: 1em;
    border: 3px solid var(--grey);
    border-radius: 5px;
    margin: 2em 0;
}
.character__menu__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em 0;
}

.character__menu__card__right span {
    font-weight: normal;
    color: var(--white);
}
.character__menu__card__right button {
    all: unset;
    cursor: pointer;
    font-weight: normal;
    color: var(--white);
    text-decoration: underline;
}
.character__menu__card__right button:hover {
    opacity: 0.7;
}
.character__menu__card__right p {
    color: var(--light-grey);
    font-weight: bold;
    font-size: 1.1em;
}
.character__menu__card__left h2{
    color: var(--white);
    font-size: 2em;
    padding: 0.5em 0;
}
.character__menu__card__left img {
    font-size: 2em;
    border-radius: 3px;
    width:200px
}

