/* @import './file.css'; */
@import './header.css';
@import './sidebar.css';
@import './helpers.css';
@import './characters.css';
@import './character.css';

/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;500;600;700&display=swap');

:root {
    --black: #282828;
    --white: #E0E0E0;
    --grey: #646464;
    --light-grey: #858585;
    --dark-grey: #373737;
    --red: #C12828;
    --green:#41C128 ;
}

* {
    margin: unset;
    padding: unset;
    box-sizing: border-box;
    text-decoration: unset;
    color: unset;
}

body {
    background-color: var(--black);
    font-family: 'Chakra Petch', sans-serif;
}

main {
    display: flex;
}

main strong {
    text-align: center;
    background-color: var(--dark-grey);
    color: var(--white);
    font-size: 3em;
    text-align: center;
    width: 100%;
}

.main__episode {
    flex: 1;
    background-color: var(--dark-grey);
    color: var(--white);
}

.episode__name {
    font-size: 2em;
    text-align: center;
    margin: 0.3em;
}
.episode__air-date {
    font-size: 1.7em;
    text-align: center;
    color: var(--grey);
}

.episode__characters {
    display: flex;
    flex-wrap: wrap;
}

@media (min-width: 1200px) {
    .episode__name {
        font-size: 4em;
        text-align: center;
    }
    .episode__air-date {
        font-size: 3em;
    }
}
