/* @import './file.css'; */
@import './header.css';
@import './sidebar.css';

/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;500;600;700&display=swap');

:root {
    --black: #282828;
    --white: #E0E0E0;
    --grey: #646464;
    --dark-grey: #373737;
}

body {
    background-color: var(--black);
    font-family: 'Chakra Petch', sans-serif;
}
