.sidebar {
    font-size: 1.2em;
    color: var(--white);
    background-color: var(--dark-grey);
}
.sidebar__seasons {
    display: flex;
    flex-direction: column;
    list-style: none;
}
.sidebar__seasons ol {
    border: 1px solid var(--white);
    background-color: var(--black);
    padding: 1vh;
    list-style: none;
    text-align: center;
}
.sidebar__seasons ol:active {
    background-color: var(--dark-grey);
}

.sidebar__episodes {
    padding: 0.5em 0.3em;
    cursor: pointer;
}
.sidebar__episodes:hover {
    background-color: var(--dark-grey);
}
.sidebar__episodes span {
    font-weight: bold;
    color: var(--grey);
}

@media (min-width: 1200px) {
    .sidebar {
        float: left;
        min-height: 100vh;
        width: 15vw;
    }
    .sidebar__seasons {
        position: fixed;
    }
    .sidebar__seasons ol {
        width: 15vw;
    }
}

