.sidebar {
    font-size: 1.2em;
    color: var(--white);
    float: left;
}
.sidebar__seasons {
    display: flex;
    flex-direction: column;
    list-style: none;
}
.sidebar__seasons ol {
    border: 1px solid var(--white);
    padding: 1.5em;
    list-style: none;
    text-align: center;
    width: 15vw;
    /* width: 90vw; */
}
.sidebar__seasons ol:active {
    background-color: var(--dark-grey);
}

.sidebar__episodes {
    padding: 0.5em 0.3em;
    cursor: pointer;
}
.sidebar__episodes:hover {
    background-color: var(--dark-grey);
}
.sidebar__episodes span {
    font-weight: bold;
    color: var(--grey);
}

